.header-up {
  border-bottom: 1px solid rgba(1, 15, 28, 0.1);
}

.header-up .left-up {
  display: flex;
  padding: 9px;
  height: 40px;
}

body {
  font-family: Jost;
}

a {
  text-decoration: none;
}

.header-up .left-up .followers span {
  font-size: 15px;
  font-family: Jost;
  border-right: 1px solid rgba(1, 15, 28, 0.1);
  padding-right: 15px;
}

.header-up .left-up .followers span:nth-child(1) {
  border-right: 1px solid rgba(1, 15, 28, 0.1);
  margin-right: 15px;
}

.header-up .left-up .followers span i {
  font-size: 15px;
  color: #0989ff;
}

.header-up .left-up .phone span {
  font-size: 15px;
  font-family: Jost;
}

.header-up .left-up .phone span i {
  font-size: 15px;
  color: #0989ff;
  padding-right: 5px;
}

@font-face {
  font-family: Jost;
  src: url(./../fonts/Jost-VariableFont_wght.ttf);
}

.header-up .header-right {
  float: right;
  display: flex;
}

.header-up .language-list {
  width: 100px;
  height: 90px;
  margin-top: -5px;
  z-index: 111111;
  background-color: white;
  box-shadow: 0 1px 1px #010f1c33;
  position: absolute;
  animation: 0.3s ease-in-out 0s normal none 1 running nav-right;
}

.header-up .language {
  width: 100px;
}

.header-up .language-list ul li {
  list-style: none;
  font-weight: 500;
}

.header-up .language ul li {
  list-style: none;
  font-weight: 500;
}

.header-up .language ul li a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin-left: -18px;
}

.header-up .currency-list ul li a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin-left: -18px;
}

.header-up .currency-list {
  width: 100px;
  height: 100px;
  margin-top: -5px;
  z-index: 111;
  background-color: white;
  box-shadow: 0 1px 1px #010f1c33;
  position: absolute;
  animation: 0.3s ease-in-out 0s normal none 1 running nav-right;
}

.header-up .currency {
  width: 100px;
}

.header-up .currency-list ul li {
  list-style: none;
  font-weight: 500;
}

.header-up .currency ul li {
  list-style: none;
  font-weight: 500;
}

.header-up .currency ul li a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin-left: -18px;
}

.header-up .language-list ul li a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin-left: -18px;
}

.header-up .setting-list ul li a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin-left: -18px;
}

.header-up .setting-list {
  width: 100px;
  height: 100px;
  margin-top: -5px;
  z-index: 111;
  background-color: white;
  box-shadow: 0 1px 1px #010f1c33;
  position: absolute;
  animation: 0.3s ease-in-out 0s normal none 1 running nav-right;
}

.header-up .setting {
  width: 100px;
}

.header-up .setting-list ul li {
  list-style: none;
  font-weight: 500;
}

.header-up .setting ul li {
  list-style: none;
  font-weight: 500;
}

.header-up .setting ul li a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin-left: -18px;
}

.header-up .setting-list ul li a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin-left: -18px;
}

.header-up .list ul li a:hover {
  color: #0989ff;
}

.header-up .list ul li a {
  transition: all 0.5s;
}

@keyframes nav-right {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-right {
  animation-name: nav-right;
}

.header-down .left-down {
  display: flex;
  padding-top: 12px;
}

.header-down .menu ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding-top: 10px;
}

.header-down {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-down .menu ul li {
  font-size: 16px;
  font-family: Jost;
}

.header-down .menu ul li i {
  font-size: 10px;
  margin-left: 5px;
}

.header-down .right-down .search {
  width: 360px;
  height: 45px;
  background-color: rgb(243, 243, 243);
  margin-left: 90px;
  margin-top: 12px;
}

.header-down .right-down .search i {
  font-size: 20px;
  color: rgb(148, 148, 148);
  padding-left: 30px;
}

.header-down .right-down .search input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 285px;
  height: 44px;
  padding-left: 20px;
  font-family: Jost;
}

.header-down .right-down .basket {
  gap: 20px;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.header-down .right-down .basket .favorites {
  position: relative;
}
.header-down .right-down .basket .favorites span {
  position: absolute;
  top: -7px;
  left: 14px;
  background: #007aff;
  color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
}

.header-down .right-down .basket .basket-card {
  position: relative;
}
.header-down .right-down .basket .basket-card span {
  position: absolute;
  top: -7px;
  left: 14px;
  background: #007aff;
  color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
}

.blog-img {
  background: url(./../img/breadcrumb-bg-1.jpg);
  width: 100%;
  height: 376px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.blog-img .opa {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.blog-img .blog-title {
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: 1111;
  text-align: center;
  width: 100%;
  top: 40%;
}

.blog-img .blog-title h3 {
  font-weight: 500;
  font-size: 44px;
  font-family: Jost;
}

.blog-img .blog-title span {
  font-weight: 400;
  font-size: 16px;
  font-family: Jost;
  top: 50%;
  left: 50%;
}

#post-box {
  padding-top: 120px;
}

#post-box .post-1 .post1-img {
  width: 915px;
  height: 468px;
}

#post-box .post-1 .post1-info {
  margin-top: 20px;
}

#post-box .post-1 .post1-img img {
  width: 100%;
  height: 100%;
}

#post-box .post-1 .post1-info i {
  color: #0989ff;
  font-size: 14px;
}

#post-box .post-1 .post1-info span {
  font-size: 14px;
  font-family: Jost;
  padding-right: 25px;
}

#post-box .post-1 .post1-text h3 {
  font-size: 38px;
  font-family: Jost;
  font-weight: 500;
  margin-top: 20px;
}

#post-box .post-1 .post1-text span {
  font-family: Jost;
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  width: 915px;
  height: 76px;
}

#post-box .post-1 button {
  font-family: Jost;
  width: 125px;
  height: 46px;
  color: white;
  border: none;
  background-color: black;
  transition: 0.5s all;
  margin-top: 30px;
}

#post-box .post-1 button:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

#post-box .post-2 {
  margin-top: 50px;
}

#post-box .post-2 .post2-img {
  width: 915px;
  height: 468px;
}

#pos.post-2 .post-2 .post2-info {
  margin-top: 20px;
}

#post-box .post-2 .post2-img img {
  width: 100%;
  height: 100%;
}

#post-box .post-2 .post2-info i {
  color: #0989ff;
  font-size: 14px;
}

#post-box .post-2 .post2-info span {
  font-size: 14px;
  font-family: Jost;
  padding-right: 25px;
}

#post-box .post-2 .post2-text h3 {
  font-size: 38px;
  font-family: Jost;
  font-weight: 500;
  margin-top: 20px;
  display: inline-block;
  width: 916px;
  height: 91px;
}

#post-box .post-2 .post2-text span {
  font-family: Jost;
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  width: 915px;
  height: 76px;
}

#post-box .post-2 button {
  font-family: Jost;
  width: 125px;
  height: 46px;
  color: white;
  border: none;
  background-color: black;
  transition: 0.5s all;
  margin-top: 30px;
}

#post-box .post-2 button:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

#post-box .center-title {
  width: 916px;
  height: 206px;
  background: #007aff;
  margin-top: 50px;
}

#post-box .center-title span {
  line-height: 1.31;
  font-size: 26px;
  color: #fff;
  font-weight: 500;
  font-family: Jost;
  width: 800px;
  height: 101px;
  display: inline-block;
  padding: 60px 60px;
}

#post-box .post-3 {
  margin-top: 50px;
}

#post-box .post-3 .post3-img {
  width: 915px;
  height: 468px;
}

#pos.post-3 .post-3 .post3-info {
  margin-top: 20px;
}

#post-box .post-3 .post3-img img {
  width: 100%;
  height: 100%;
}

#post-box .post-3 .post3-info i {
  color: #0989ff;
  font-size: 14px;
}

#post-box .post-3 .post3-info span {
  font-size: 14px;
  font-family: Jost;
  padding-right: 25px;
}

#post-box .post-3 .post3-text h3 {
  font-size: 38px;
  font-family: Jost;
  font-weight: 500;
  margin-top: 20px;
  display: inline-block;
  width: 916px;
  height: 91px;
}

#post-box .post-3 .post3-text span {
  font-family: Jost;
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  width: 915px;
  height: 76px;
}

#post-box .post-3 button {
  font-family: Jost;
  width: 125px;
  height: 46px;
  color: white;
  border: none;
  background-color: black;
  transition: 0.5s all;
  margin-top: 30px;
}

#post-box .post-3 button:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

#post-box .page-number button {
  border: 1px solid rgba(1, 15, 28, 0.1);
  width: 38px;
  height: 38px;
  color: rgb(0, 0, 0);
  background-color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-top: 50px;
  transition: 0.5s all;
}

#post-box .page-number button:hover {
  background-color: #007aff;
  color: white;
}

.footer-up {
  background: #f4f7f9;
  height: 440px;
  margin-top: 100px;
}

.footer-up .logo-title {
  padding-top: 95px;
}

.footer-up .logo-title .logo-img {
  width: 135px;
  height: 35px;
}

.footer-up .footer-menu {
  padding-top: 95px;
}

.footer-up .for-contact {
  padding-top: 95px;
}

.footer-up .logo-title .logo-img img {
  width: 100%;
  height: 100%;
}

.footer-up .logo-title span {
  font-size: 18px;
  display: inline-block;
  width: 320px;
  height: 77px;
  margin-top: 30px;
  font-weight: 400;
  margin-bottom: 40px;
}

.footer-up .social-icons button {
  width: 40px;
  height: 40px;
  border: none;
  transition: 0.5s all;
  box-shadow: 0 1px 1px #010f1c33;
  margin-right: 7px;
  background: white;
}

.footer-up .social-icons button:hover {
  background: #007aff;
  color: white;
}

.footer-up .footer-menu {
  display: flex;
  gap: 100px;
}

.footer-up .footer-menu h4 {
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 15px;
  font-family: Jost;
}

.footer-up .footer-menu ul li {
  font-weight: 500;
  font-family: Jost;
  color: #55585b;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  transition: 0.5s all;
}

.footer-up .footer-menu ul li:hover {
  color: #007aff;
}

.footer-up .for-contact h4 {
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 15px;
  font-family: Jost;
}

.footer-up .for-contact {
  float: right;
}

.footer-up .for-contact span {
  font-family: Jost;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
}

.footer-up .for-contact p {
  font-weight: 500;
  font-size: 22px;
  font-family: Jost;
}

.line {
  border-bottom: 1px solid #55585b;
  padding-top: 119px;
}

.footer-down {
  height: 90px;
  background: #f4f7f9;
}

.footer-down .title {
  font-size: 16px;
  font-family: Jost;
  padding-top: 18px;
}

.footer-down .title a {
  text-decoration: none;
}

.footer-down .footer-pay {
  float: right;
  padding-top: 18px;
}

#post-box .about {
  position: sticky;
  top: 120px;
}

#post-box .about .search {
  margin-bottom: 35px;
  border: 1px solid #e0e2e3;
  height: 50px;
  font-size: 16px;
}

#post-box .about .search input {
  outline: none;
  border: none;
  padding-right: 29px;
  padding-left: 26px;
  width: 250px;
  height: 48px;
}

#post-box .about h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 14px;
}

#post-box .about .about-text {
  width: 306px;
  height: 456px;
  padding: 40px 40px 35px;
  text-align: center;
  border: 1px solid #e0e2e3;
}

#post-box .about .about-text .about-img {
  margin-bottom: 25px;
}

#post-box .about .about-text .about-img img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

#post-box .about .about-text .about-title h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0;
}

#post-box .about .about-text .about-title span {
  color: #a0a2a4;
  font-size: 15px;
  display: inline-block;
  margin-bottom: 10px;
}

#post-box .about .about-text .about-title p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 400;
  color: #55585b;
}

#post-box .about .categories h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 14px;
  margin-top: 50px;
}

#post-box .about .categories .list-categori {
  padding: 25px 25px 31px;
  border: 1px solid #e0e2e3;
}

#post-box .about .categories .list-categori ul li {
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  color: #55585b;
  transition: all 0.5s;
}

#post-box .about .categories .list-categori ul li:hover a {
  color: #007aff;
}
#post-box .about .categories .list-categori ul li:hover {
  color: #007aff;
}

#post-box .about .categories .list-categori ul li a {
  padding-left: 16px;
  font-size: 16px;
  color: #55585b;
  display: block;
  transition: all 0.5s;
}

#post-box .about .categories .list-categori ul li a span {
  float: right;
}

#post-box .about .popular-tag h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 14px;
  margin-top: 50px;
}

#post-box .about .popular-tag .menues {
  padding-top: 24px;
  border-top: 1px solid #e0e2e3;
  display: flex;
  flex-wrap: wrap;
}

#post-box .about .popular-tag .menues a {
  font-size: 15px;
  color: #a0a2a4;
  padding: 5px 13px;
  line-height: 1;
  display: inline-block;
  border: 1px solid #e6e7e8;
  margin-bottom: 8px;
  transition: all 0.5s;
}

#post-box .about .popular-tag .menues a:hover {
  background: #007aff;
  color: white;
}

#post-box .cream {
  padding: 35px 20px;
  border: 1px solid #e0e2e3;
  margin-top: 30px;
}

#post-box .cream .cream-text:nth-child(1) {
  display: flex;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #eaebed;
}

#post-box .cream .cream-text:nth-child(2) {
  display: flex;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #eaebed;
}

#post-box .cream .cream-text:nth-child(3) {
  display: flex;
  padding-bottom: 24px;
}

#post-box .cream-area h3 {
  font-size: 22px;
  font-weight: 500;
  transition: all 0.5s;
  margin-top: 30px;
}

#post-box .cream .cream-text .cream-img {
  width: 80px;
  height: 70px;
  object-fit: cover;
  margin-right: 16px;
}

#post-box .cream .cream-text .cream-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#post-box .cream .cream-text .cream-content span {
  font-size: 14px;
}

#post-box .cream .cream-text .cream-content h3 {
  font-size: 15px;
  font-weight: 500;
  transition: all 0.5s;
}

#post-box .cream .cream-text .cream-content h3:hover {
  color: #0989ff;
}
