.header-up {
  border-bottom: 1px solid rgba(1, 15, 28, 0.1);
}

.header-up .left-up {
  display: flex;
  padding: 9px;
  height: 40px;
}

.header-up .left-up .followers span {
  font-size: 15px;
  font-family: Jost;
  border-right: 1px solid rgba(1, 15, 28, 0.1);
  padding-right: 15px;
}

.header-up .left-up .followers span:nth-child(1) {
  border-right: 1px solid rgba(1, 15, 28, 0.1);
  margin-right: 15px;
}

.header-up .left-up .followers span i {
  font-size: 15px;
  color: #0989ff;
}

.header-up .left-up .phone span {
  font-size: 15px;
  font-family: Jost;
}

.header-up .left-up .phone span i {
  font-size: 15px;
  color: #0989ff;
  padding-right: 5px;
}

@font-face {
  font-family: Jost;
  src: url(./../fonts/Jost-VariableFont_wght.ttf);
}

.header-up .header-right {
  float: right;
  display: flex;
}

.header-up .language-list {
  width: 100px;
  height: 90px;
  margin-top: -5px;
  z-index: 111111;
  background-color: white;
  box-shadow: 0 1px 1px #010f1c33;
  position: absolute;
  animation: 0.3s ease-in-out 0s normal none 1 running nav-right;
}

.header-up .language {
  width: 100px;
}

.header-up .language-list ul li {
  list-style: none;
  font-weight: 500;
}

.header-up .language ul li {
  list-style: none;
  font-weight: 500;
}

.header-up .language ul li a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin-left: -18px;
}

.header-up .currency-list ul li a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin-left: -18px;
}

.header-up .currency-list {
  width: 100px;
  height: 100px;
  margin-top: -5px;
  z-index: 111;
  background-color: white;
  box-shadow: 0 1px 1px #010f1c33;
  position: absolute;
  animation: 0.3s ease-in-out 0s normal none 1 running nav-right;
}

.header-up .currency {
  width: 100px;
}

.header-up .currency-list ul li {
  list-style: none;
  font-weight: 500;
}

.header-up .currency ul li {
  list-style: none;
  font-weight: 500;
}

.header-up .currency ul li a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin-left: -18px;
}

.header-up .language-list ul li a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin-left: -18px;
}

.header-up .setting-list ul li a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin-left: -18px;
}

.header-up .setting-list {
  width: 100px;
  height: 100px;
  margin-top: -5px;
  z-index: 111;
  background-color: white;
  box-shadow: 0 1px 1px #010f1c33;
  position: absolute;
  animation: 0.3s ease-in-out 0s normal none 1 running nav-right;
}

.header-up .setting {
  width: 100px;
}

.header-up .setting-list ul li {
  list-style: none;
  font-weight: 500;
}

.header-up .setting ul li {
  list-style: none;
  font-weight: 500;
}

.header-up .setting ul li a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin-left: -18px;
}

.header-up .setting-list ul li a {
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin-left: -18px;
}

.header-up .list ul li a:hover {
  color: #0989ff;
}

.header-up .list ul li a {
  transition: all 0.5s;
}

@keyframes nav-right {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-right {
  animation-name: nav-right;
}

.header-down .left-down {
  display: flex;
  padding-top: 12px;
}

.header-down .menu ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding-top: 10px;
}

.header-down {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-down .menu ul li {
  font-size: 16px;
  font-family: Jost;
}

.header-down .menu ul li i {
  font-size: 10px;
  margin-left: 5px;
}

.header-down .right-down .search {
  width: 360px;
  height: 45px;
  background-color: rgb(243, 243, 243);
  margin-left: 90px;
  margin-top: 12px;
}

.header-down .right-down .search i {
  font-size: 20px;
  color: rgb(148, 148, 148);
  padding-left: 30px;
}

.header-down .right-down .search input {
  border: none;
  background-color: transparent;
  outline: none;
  width: 285px;
  height: 44px;
  padding-left: 20px;
  font-family: Jost;
}

.header-down .right-down .basket {
  gap: 20px;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.header-down .right-down .basket .favorites {
  position: relative;
}
.header-down .right-down .basket .favorites span {
  position: absolute;
  top: -7px;
  left: 14px;
  background: #007aff;
  color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
}

.header-down .right-down .basket .basket-card {
  position: relative;
}
.header-down .right-down .basket .basket-card span {
  position: absolute;
  top: -7px;
  left: 14px;
  background: #007aff;
  color: white;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
}

.footer-up {
  background: #f4f7f9;
  height: 440px;
  margin-top: 100px;
}

.footer-up .logo-title {
  padding-top: 95px;
}

.footer-up .logo-title .logo-img {
  width: 135px;
  height: 35px;
}

.footer-up .footer-menu {
  padding-top: 95px;
}

.footer-up .for-contact {
  padding-top: 95px;
}

.footer-up .logo-title .logo-img img {
  width: 100%;
  height: 100%;
}

.footer-up .logo-title span {
  font-size: 18px;
  display: inline-block;
  width: 320px;
  height: 77px;
  margin-top: 30px;
  font-weight: 400;
  margin-bottom: 40px;
}

.footer-up .social-icons button {
  width: 40px;
  height: 40px;
  border: none;
  transition: 0.5s all;
  box-shadow: 0 1px 1px #010f1c33;
  margin-right: 7px;
  background: white;
}

.footer-up .social-icons button:hover {
  background: #007aff;
  color: white;
}

.footer-up .footer-menu {
  display: flex;
  gap: 100px;
}

.footer-up .footer-menu h4 {
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 15px;
  font-family: Jost;
}

.footer-up .footer-menu ul li {
  font-weight: 500;
  font-family: Jost;
  color: #55585b;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  transition: 0.5s all;
}

.footer-up .footer-menu ul li:hover {
  color: #007aff;
}

.footer-up .for-contact h4 {
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 15px;
  font-family: Jost;
}

.footer-up .for-contact {
  float: right;
}

.footer-up .for-contact span {
  font-family: Jost;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
}

.footer-up .for-contact p {
  font-weight: 500;
  font-size: 22px;
  font-family: Jost;
}

.line {
  border-bottom: 1px solid #55585b;
  padding-top: 119px;
}

.footer-down {
  height: 90px;
  background: #f4f7f9;
}

.footer-down .title {
  font-size: 16px;
  font-family: Jost;
  padding-top: 18px;
}

.footer-down .title a {
  text-decoration: none;
}

.footer-down .footer-pay {
  float: right;
  padding-top: 18px;
}

#contact-area h3 {
  font-family: Jost;
  font-weight: 500;
  font-size: 44px;
  line-height: 1;
  text-align: center;
  margin-top: 100px;
}

#contact-area p {
  font-family: Jost;
  text-align: center;
  color: #55585b;
  margin-bottom: 100px;
}

#contact-area p a {
  font-family: Jost;
  text-align: center;
  text-decoration: none;
  padding-right: 9px;
  color: #55585b;
}

#contact-area .for-add-info input {
  border: none;
  width: 460px;
  height: 54px;
  outline: none;
  font-family: Jost;
}

#contact-area .for-add-info {
  width: 100%;
  height: 800px;
  box-shadow: 0 30px 70px #010f1c1a;
  padding-left: 70px;
}

#contact-area .for-add-info h3 {
  display: flex;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 35px;
  padding-top: 40px;
}

#contact-area .for-add-info .name {
  width: 756px;
  height: 56px;
  border: 1px solid #e0e2e3;
  position: relative;
  margin-bottom: 34px;
}

#contact-area .for-add-info .name input {
  padding-left: 26px;
}

#contact-area .for-add-info .name p {
  position: absolute;
  background-color: white;
  top: -11px;
  font-size: 14px;
  font-family: Jost;
  left: 20px;
  padding: 0 5px;
}

#contact-area .for-add-info .email {
  width: 756px;
  height: 56px;
  border: 1px solid #e0e2e3;
  position: relative;
  margin-bottom: 34px;
}

#contact-area .for-add-info .email input {
  padding-left: 26px;
}

#contact-area .for-add-info .email p {
  position: absolute;
  background-color: white;
  top: -11px;
  font-size: 14px;
  font-family: Jost;
  left: 20px;
  padding: 0 5px;
}

#contact-area .for-add-info .subject {
  width: 756px;
  height: 56px;
  border: 1px solid #e0e2e3;
  position: relative;
  margin-bottom: 34px;
}

#contact-area .for-add-info .subject input {
  padding-left: 26px;
}

#contact-area .for-add-info .subject p {
  position: absolute;
  background-color: white;
  top: -11px;
  font-size: 14px;
  font-family: Jost;
  left: 20px;
  padding: 0 5px;
}

#contact-area .for-add-info .area-for-text {
  width: 756px;
  height: 173px;
  border: 1px solid #e0e2e3;
  position: relative;
  margin-bottom: 34px;
}

#contact-area .for-add-info .area-for-text input {
  resize: none;
  width: 730px;
  line-height: 1.4;
  outline: none;
  padding-left: 26px;
}

#contact-area .for-add-info .area-for-text p {
  position: absolute;
  background-color: white;
  top: -11px;
  font-size: 14px;
  font-family: Jost;
  left: 20px;
  padding: 0 5px;
}

#contact-area .for-add-info .check-box-for-save {
  margin-bottom: 34px;
}

#contact-area .for-add-info .check-box-for-save input {
  width: 16px;
  height: 16px;
}

#contact-area .for-add-info .check-box-for-save span {
  font-size: 15px;
  font-family: Jost;
}

#contact-area .for-add-info button {
  color: white;
  font-family: Jost;
  background: black;
  width: 158px;
  height: 44px;
  border: none;
}

.contact-info {
  margin-left: 73px;
  margin-top: 150px;
}

.contact-info .mail-phone {
  margin-bottom: 40px;
}

.contact-info .mail-phone .mail {
  margin-top: 30px;
}
.contact-info .street {
  margin-bottom: 40px;
}
.contact-info .social-icons {
  margin-bottom: 40px;
}
.contact-info .mail-phone .mail span:first-child {
  font-size: 18px;
  font-family: Jost;
  font-weight: 400;
}

.contact-info .mail-phone .mail span:last-child {
  font-size: 18px;
  font-family: Jost;
  font-weight: 500;
  color: black;
}

.contact-info .street span {
  font-size: 18px;
  font-family: Jost;
  font-weight: 400;
  display: block;
  margin-top: 30px;
}

.contact-info .social-icons span {
  font-size: 18px;
  font-family: Jost;
  font-weight: 400;
  display: block;
  margin-top: 30px;
}

.contact-info .social-icons button {
  width: 36px !important;
  height: 36px !important ;
  background: white !important;
  color: black !important;
  border: 1px solid #e6e7e8 !important;
  transition: 0.5s all;
  margin-top: 30px;
}

.contact-info .social-icons button:hover {
  background: #007aff !important;
  color: white !important;
}
